.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.box {
  animation: show-disappear 4s;
  opacity: 0;
}

.box1 {
  border: 1px solid black;
  margin: 20px;
  width: 200px;
  height: 200px;
  background: purple;
}

.box2 {
  margin: 20px;
  width: 300px;
  height: 300px;
  background: purple;
}

.box3 {
  margin: 20px;
  width: 400px;
  height: 400px;
  background: purple;
}

.App-link {
  color: #61dafb;
}

@keyframes show-disappear {
  0% {
    transform: translateX(-100vw);
    opacity: 0;
  }
  25% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}