.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.box {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  transition: all 1s ease-in-out;
  background: white;
}

.red {
  background: red;
}

.yellow {
  background: yellow;
}

.blue {
  background: blue;
}

.circle {
  border-radius: 50%;
}

.App-link {
  color: #61dafb;
}

@keyframes show-disappear {
  0% {
    transform: translateX(-100vw);
    opacity: 0;
  }
  25% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}