.box {
    max-height: 300px;
    max-width: 500px;
    padding: 20px;
    margin: 5px;
}

.box1 {
    background: green;
}

.box2 {
    background: blue;
}

.box3 {
    background: pink;
}

.box4 {
    background: purple;
}